<main class="container">
  <section class="row justify-content-center py-4">
    <article class="col-4 d-flex flex-column shadow rounded bg-secondary bg-gradient">
      <form class="p-5">
        <h5 class="text-center text-white mb-4">Operaciones Aritmeticas</h5>
        <p class="input-group">
            <label for="num1" class="input-group-text">Ingrese 1° valor</label>
            <input type="number" class="form-control" name="num1" id="num1" [(ngModel)]="numero1">
        </p>
        <p class="input-group">
            <label for="num2" class="input-group-text">Ingrese 2° valor</label>
            <input type="number" class="form-control" name="num2" id="num2" [(ngModel)]="numero2">
        </p>


        <select name="miselect" [(ngModel)]="lista" class="form-select">
            <option  *ngFor="let item of data" [value]="item">{{item}}</option>
        </select>

        <div class="m-3">
            <container-element [ngSwitch]="lista">
                <span *ngSwitchCase="data[0]" [ngStyle]="{'color': 'blue'}">Resultado: {{numero1 + numero2}} </span>
                <span *ngSwitchCase="data[1]" [ngStyle]="{'color': 'yellow'}">Resultado: {{numero1 - numero2}}</span>
                <span *ngSwitchCase="data[2]" [ngStyle]="{'color': 'green'}">Resultado: {{numero1 * numero2}}</span>
                <span *ngSwitchCase="data[3]" [ngStyle]="{'color': 'gray'}">Resultado: {{numero1 / numero2}}</span>
                <span *ngSwitchDefault [ngStyle]="{'color': 'red'}">Resultado: (no eligio ninguna opcion)</span>
             </container-element>
        </div>
    </form>


    </article>
  </section>
</main>
